#tdiv {
  border-bottom: 200px solid blue;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  width: 0;
  position:relative;
  left:147px;
  top:-350px;
  z-index: 1; }

  #cdiv {
    width:500px;
    height: 500px;
    background: black;
    -moz-border-radius: 250;
    -webkit-border-radius: 250px;
    border-radius: 250px;
    position:relative;
    z-index:0;
}
#tchat{
  color:grey;
  position:relative;
  top:-460px;
  left: 210px;
  z-index:11;
 font-size:40px;
}

#expng{
  height:500px;
  left:10px;
  position:absolute;
  top:10px;
  z-index:12;
 
}